[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/astaire"]
	path = modules/astaire
	url = git@github.com:Metaswitch/astaire.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "modules/chronos"]
	path = modules/chronos
	url = git@github.com:Metaswitch/chronos.git
[submodule "modules/clearwater-s4"]
	path = modules/clearwater-s4
	url = git@github.com:Metaswitch/clearwater-s4.git
[submodule "modules/libevhtp"]
	path = modules/libevhtp
	url = git@github.com:Metaswitch/libevhtp.git
