[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:metaswitch/cpp-common.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/astaire"]
	path = modules/astaire
	url = git@github.com:Metaswitch/astaire.git
